################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/FolhaPonto.Api/CopilotIndices/17.14.1231.31060
/.vs/FolhaPonto.Api/FileContentIndex
